/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Colore di sfondo generale */
    color: #333; /* Colore del testo principale */
    font-size: 16px; /* Dimensione del testo di base */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
    color: #fff;
    padding: 2vw;
}

header img {
    max-height: 10vw; /* Altezza massima in base alla larghezza della finestra */
}

header h1 {
    margin-left: 2vw; /* Margine in base alla larghezza della finestra */
    font-size: 3vw; /* Dimensione del testo in base alla larghezza della finestra */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 3vw; /* Margine in base alla larghezza della finestra */
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 2vw;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}




.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenitore delle sezioni */
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* La griglia si adatta automaticamente alla larghezza della finestra */
    gap: 20px; /* Spazio tra le colonne e le righe */
    max-width: 100%; /* Larghezza massima */
    padding: 0 20px; /* Aggiunto padding per migliorare lo spaziamento sui bordi */
}

.service {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.service img {
    width: 100%; /* Larghezza al 100% per adattarsi al riquadro */
    height: auto; /* Altezza automatica */
    border-radius: 8px;
    margin-bottom: 10px;
}

.service h3, .service p {
    margin: 10px 0;
}

.about {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.about .employee {
    display: inline-block;
    margin: 0 20px;
}

.about .employee img {
    border-radius: 50%;
    max-width: 300px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about .employee h3 {
    margin-top: 10px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.intro {
    text-align: center;
}

.intro img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.contact {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #555;
}

iframe {
    margin: 0 auto;
    display: block;
    border: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fade {
    display: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: .4}
    to {opacity: 1}
}

.mySlides img {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.slider-container {
    width: 100%; /* Larghezza al 100% per adattarsi al dispositivo */
    overflow: hidden;
    position: relative;
}

.image-container {
    width: 400%;
    height: 100%;
    display: flex;
    transition: left 0.5s; /* Aggiunto per la transizione fluida */
}

.slider-image {
    width: 100%;
    height: auto;
}

.button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: brown;
    margin: 0 5px;
}

/* Aggiunto per far funzionare lo slideshow */
#slider-image-1:target ~ .image-container {
    left: 0%;
}

#slider-image-2:target ~ .image-container {
    left: -100%;
}

#slider-image-3:target ~ .image-container {
    left: -200%;
}

#slider-image-4:target ~ .image-container {
    left: -300%;
}
