body{
    width:100%;
    font-family:Verdana;


}

  header{
    width:100%;
    text-align:center;
}
#logo{
    width:50px;
    height:50px
}



.icon {
    width:30px;
    height:30px;
}
nav {
    width:100%;
    background-color:#9c9c9c;
    text-align:center;

    }
.breadcrumb {
    font-family:verdana;
    font-size:12px;
}
a:link, a:active {
    color:#708090;
}
a:visited{
    color:#708090;
}
a:hover {
    color:#00008B;
}



li{
    display:inline;
    padding:60px;
}
section{
    width:80%;
    float:left;
    text-align:center;
    border-right: 2px solid #ADD8E6;
    color:#708090;
    font-size:15px;
    padding:20px;
}



.immagine{
    width:500px;
    height:300px;
}
.loghi{
    width:150px;
    height:100px;
}



aside{
    width:10%;
    float:left;
    text-align:center;
    font-family:verdana;
    font-size:13px;
}
#appuntamento{
    width:200px;
    height:180px;
}
footer{
    width:100%;
    background-color:#ADD8E6;
    color:black;
    text-align:center;
    clear:both;
}
table {
    table-layout: fixed;
    width: 900px;
    border: 6px solid #ADD8E6;
    border-spacing: 6px;
}
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}
.contatti {
    float: left;
    width: 120px;
    margin-right: 2%;
    margin-top: 25px;
}
.contatti1 {
    float: right;
    width: 120px;
    margin-right: 2%;
    margin-bottom: 5%;
    margin-top: 25px;
}
.macchine{
    width: 300px;
    height: 215px;
}
.veicoli{
    width:100px;
    height:80px;
}
form{
    width:500px;
    height:500px;
    color:#708090;
}
