/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile del corpo della pagina */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa; /* Colore di sfondo generale */
    color: #333; /* Colore del testo principale */
    font-size: 16px; /* Dimensione del testo di base */
}

/* Intestazione */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #343a40;
    color: #fff;
    padding: 2vw;
}

header img {
    max-height: 10vw; /* Altezza massima in base alla larghezza della finestra */
}

header h1 {
    margin-left: 2vw; /* Margine in base alla larghezza della finestra */
    font-size: 3vw; /* Dimensione del testo in base alla larghezza della finestra */
}

/* Menu di navigazione */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 3vw; /* Margine in base alla larghezza della finestra */
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 1vw 2vw;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

/* Sezione hero */
.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

/* Container dei servizi */
.services-container {
    display: flex;
    justify-content: center; /* Centra orizzontalmente il contenitore delle sezioni */
	flex-wrap: wrap; /* Per consentire il wrapping degli elementi su più righe */
}

/* Servizi */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Modifica la larghezza minima delle colonne */
    gap: 20px; /* Spazio tra le colonne e le righe */
    max-width: 100%; /* Larghezza massima */
    padding: 10px; /* Aggiunto padding per migliorare lo spaziamento sui bordi */
	flex: 1 0 50%; /* Occupa il 50% della larghezza disponibile, su due colonne */
}

.service {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.service img {
    width: 100%; /* Larghezza al 100% per adattarsi al riquadro */
    height: auto; /* Altezza automatica */
    border-radius: 8px;
    margin-bottom: 10px;
}

.service h3, .service p {
    margin: 10px 0;
}

/* Sezione Chi siamo */
.about {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.about .employee {
    display: inline-block;
    margin: 0 20px;
}

.about .employee img {
    border-radius: 50%;
    max-width: 300px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about .employee h3 {
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Sezione Introduzione */
.intro {
    text-align: center;
}

.intro img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Sezione Contatti */
.contact {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.contact-form button:hover {
    background-color: #555;
}

/* Iframe per la mappa */
iframe {
    margin: 0 auto;
    display: block;
    border: none;
}

/* Clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Effetto fade per le slide */
.fade {
    display: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: .4}
    to {opacity: 1}
}

/* Stili specifici per le immagini delle slide */
.mySlidesInterni img,
.mySlidesEsterni img,
.mySlidesMuri img,
.mySlidesTetti img,
.mySlidesCarpenteria img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 200px;
}

/* Pulsanti per passare alle slide precedenti e successive */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Pulsanti punti per la navigazione tra le slide */
.dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Banner dei cookie */
.cookie-consent {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: 9999; /* Imposta un valore alto per garantire che il banner dei cookies sia sopra gli altri elementi */
}

.cookie-consent p {
    margin: 0;
}

.cookie-consent button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}
